<form>
  <div class="input-group">
    <div>
      <label for="initial-investment">Initial investment</label>
      <input type="number" name="initial-investment" />
    </div>
    <div>
      <label for="annual-investment">Annual investment</label>
      <input type="number" name="annual-investment" />
    </div>
  </div>

  <div class="input-group">
    <div>
      <label for="expected-return">Expected retrun</label>
      <input type="number" name="expected-return" />
    </div>
    <div>
      <label for="duration">Duration</label>
      <input type="number" name="duration" />
    </div>
  </div>
  <button type="submit">Calculate</button>
</form>
